<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="options"
		label="Backend"
	>
	</fieldset>
	<fieldset
			name="params"
			label="Frontend"
			description="DKQ Parameter"
	>
		<field
				name="play_store_app_version"
				type="radio"
				label="Play Store App Version"
				description="Aktuelle Version im Play Store"
				default="0"
		>
			<option value="1">1.0</option>
			<option value="2">2.0</option>
			<option value="3">3.0</option>
			<option value="4">4.0</option>
		</field>

		<field
				name="web_api_enabled"
				type="radio"
				label="COM_DKQMAKER_CONFIG_WEB_API"
				description="COM_DKQMAKER_CONFIG_WEB_API_DESCRIPTION"
				default="1"
		>
			<option value="0">COM_DKQMAKER_CONFIG_WEB_API_DISABLED</option>
			<option value="1">COM_DKQMAKER_CONFIG_WEB_API_ENABLED</option>
		</field>

	</fieldset>
</config>
